@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
    

}

body{
    font-family: 'Varela Round','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2em;
}

.custombtn{
    background-color: var(--bs-gray-500);
    border-radius: 10px;
    border-style: 2px solid var(--bs-gray-500);
    margin: 5px;
    padding: 5px;
}